<div id="<%= dom_id prompt_request %>">
  <p>
    <strong><%= t('activerecord.attributes.prompt_request.input_text') %>:</strong>
    <%= prompt_request.input_text %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.prompt_request.action_type') %>:</strong>
    <%= prompt_request.action_type %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.prompt_request.output_text') %>:</strong>
    <%= prompt_request.output_text %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.prompt_request.status') %>:</strong>
    <%= prompt_request.status %>
  </p>
</div>
